<!-- Raised button with ripple -->
{{#link-to 'index' class='back-btn'}}
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
 Back
</button>
{{/link-to}}
<h1>Pomodoros New</h1>
<form>
  <div class="form-group">
    <label for="new-pomodoro">Add a new pomodoro</label>
    {{input type="text" value=pomodoroName class="form-control" id="new-pomodoro" placeholder="What are you going to accomplish?" on="enter"}}

  </div>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect add-pomodoro" {{action 'addPomodoro'}}>
  Add
</button>
</form>
{{liquid-outlet}}