<h1>Pomodoro Inprogress</h1>
<button class="btn btn-primary">Pomodoro</button>
<button class="btn btn-primary">Short Break</button>
<button class="btn btn-primary">Long Break</button><br/>
<h1>25:00</h1>
<button class="btn btn-primary">Start</button>
<button class="btn btn-primary">Stop</button>
<button class="btn btn-primary">Reset</button>
{{liquid-outlet}}